/* My Porfolio Website */
*{
    margin: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
    padding: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: #061826;
    font-family: 'Inter', sans-serif;
}
h1, h2,h3{
    font-family: 'Outfit', sans-serif;
}

/* Navigation-bar */
nav{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Outfit', sans-serif;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 10px 10px 4px  rgba(0, 0, 0, 0.142);  
    width: 95%;
    justify-self: center;
    position: fixed;
    background-color: #061826;
    z-index: 9999;
   border-radius: 10px;
   
}


a{
 color: white;
    text-decoration: none;    
}

a:hover{
    opacity: 0.3;
    text-decoration: overline;
    transition: 2s;
}

/* Left-nav */
.Left-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Left-nav img{
width: 30px;
border-radius: 30px;
height: 30px;
background-color: #061826;
border: inset grey;
padding: 2px 2px;
object-fit: contain;
}
.Left-nav:hover{
     transform: scale(1.05);
    transition: 1s;
}


/* Middle-nav */
.Middle-nav{
    display: flex;
    gap: 20px;

}

/* ham-burger */
.ham{
display: flex;
flex-direction: column;
}
.ham{
    display: none;
}
.ham-burger{
    background-color: white;
    border-radius: 3px;
    width: 40px;
    height: 5px;
    margin-top: 5px;
}
/* Side-bar */

.icons{
    display:block;
    
}
.icons img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}
.Side-bar{ 
    position: fixed;
    top: 70px;
    left: 0px;
     box-shadow: 10px 10px 4px  rgba(0, 0, 0, 0.142);  
    border-radius: 10px;
    width: 150px;
    z-index: 9999;
    height:100vh;
    background-color: #061826;
    padding: 20px 40px;
    

}

.Side-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 25px;

}

.Side-bar button{
    border: none;
    color: #3685B5;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #061826;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
    cursor: pointer;
    font-size: 20px;
}
.Side-bar button:hover{
   transform: scale(1.2);
    transition: 1s; 
}

.Side-bar img{
    object-fit: contain ;
    width: 30px;
border-radius: 30px;
height: 30px;
background-color: #061826;
 box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
 align-items: center;
padding: 8px 8px;
cursor: pointer;
}
.Side-bar img:hover{
     transform: scale(1.2);
    transition: 1s;
}




/* Right-nav */
.Right-nav{
    display: flex;
    gap: 10px;
}
.Right-nav button{
    border: none;
    color: #3685B5;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #061826;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
    cursor: pointer;
}
.Right-nav button:hover{
    transform: scale(1.2);
    transition: 1s;
}
.Right-nav img{
    object-fit: contain ;
    width: 30px;
border-radius: 30px;
height: 30px;
background-color: #061826;
 box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
 align-items: center;
padding: 8px 8px;
cursor: pointer;
}
.Right-nav img:hover{
     transform: scale(1.2);
    transition: 1s;
}

@media screen and (max-width: 900px) {
.Middle-nav{
    display: none;
}
.Right-nav{
    display: none;
}
.ham{
    display: block;
}
}

/* main */
main{
    padding-top: 200px;
    
    color: white;
    font-family: 'Outfit', sans-serif; 
}

.pic{
    width: 100%;
    height: 140%;
}

  /* Intoduction-Section  */
  .first{
    box-shadow: 0 10px   rgba(0, 0, 0, 0.142);
    padding-bottom: 40px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
.h{
    font-weight: 200;
    font-size: 20px; 
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro p{
    font-weight: 200;
}

.pic.show {
  opacity: 1;
}
.intro h1{
    font-weight: 600;
    font-size: 45px;
    padding-top: 20px;
}
.intro h2{
    font-weight: 600;
    font-size: 45px;
    padding-bottom: 20px;
}
.intro h3{
    font-weight: 300;
    font-size: 20px;
}
.hint{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.hint h3{
    padding-top: 20px;
}

.me{
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.318); 
     width: 268px;
     height: 250px;
     border-radius: 10px;
}
.pic{
  position: relative; 
  bottom: 100px; 
   opacity: 0;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
}
@media  (max-width: 900px){
    .intro{
        display: flex;
        flex-direction: column-reverse;
        gap: 100px;
    }
  
    .me{
        position: relative;
        top: 70px;

    }
    
}
@media (max-width: 320px){
    .me{
        width: 220px;
        height: 226px;
     
    }
    .pic{
        width: 220px;

        
    }

}

.list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 100px;
    align-items: center;
}
    .im{
        background-color:  #061826;
         box-shadow: 0 0 15px  rgba(0, 0, 0, 0.318); 
         border-radius: 10px;
         width: 30px;
         height: 30px;
         object-fit: contain;
         padding: 8px 8px;
    }
    .im:hover{
transform: scale(1.2);
transition: 1s;
cursor: pointer;
    }
    .b{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .list dt  {
display: flex;
flex-direction: row;
gap: 20px;
padding-bottom: 10px;
    }
     @media  (max-width: 800px ){
.list{
    display: flex;
    gap: 40px;
}
     }

    @media  (max-width: 600px ){
       .list{
        display: block;
        
       } 
    }

    /* Portfolio */
    .Features{
padding: 80px 50px;
display: flex;
flex-direction: column;
gap: 20px;
box-shadow: 0 10px   rgba(0, 0, 0, 0.142);
border-radius: 10px;
    }
    .Features p{
        color: #3685B5;
    }
    .space{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .Features button{
        width: 300px;
        height: 220px;
        background-color: #061826;
        border-radius: 10px;
          box-shadow: 0 0 15px  rgba(0, 0, 0, 0.318);         
         border: none;
         color: white;
         cursor: pointer;
         display: flex;
         flex-direction: column;
         gap: 10px;
         align-items: left;
         text-align: left;
         padding: 10px;
    }
    .Features button p{
        color: white;
        font-weight: 200;
    }
    .Features button h3{
        font-weight: 600;
    }
    .Features button:hover{
        transform: scale(1.2);
        transition: 1s;
        
    }
    .what{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .what img{
        width: 40px;
    }
    @media  (max-width:700px ){
.Features button{
    text-wrap: wrap;
    font-size: 10px;
    
}
    }
        
    

    /* Projects */
    .Project{
    padding: 80px 50px;
display: flex;
flex-direction: column;
gap: 20px;    
box-shadow: 0 10px   rgba(0, 0, 0, 0.142);
border-radius: 10px;
    }
    .Projects{
       display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
    .Project p{
        color: #3685B5;
    }
    

    .center{
        text-align: center;
    }
    .Projects button{
        width: 300px;
        height: 220px;
        background-color: #061826;
        border-radius: 10px;
        box-shadow: 0 0 15px  rgba(0, 0, 0, 0.318); 
         border: none;
         color: white;
         cursor: pointer;
    }
    .Projects button:hover{
        transform: scale(1.2);
        transition: 1s;
        
    }
    .web{
width: 100%;
height: auto;
display: block;
    }
    .scroll{
        width: 200px;
        height: auto;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
        text-align: left;
        padding: 10px;
        gap: 10px;
    }
    .scroll-container{
width: 100%;
overflow-y: auto;
height: 60%;
align-items: center;

    }
    .web:hover{
        transform: translateY(-50%);
        transition: transform 3s ease-in-out;
    }
.scroll-container::-webkit-scrollbar{
display: none;
}
.like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    
    
}
.likes{
    display: flex;
   
}
.likes p{
    color: white;
}
.likes img{
    width: 15px;
    object-fit: contain;
}
 @media  (max-width:500px ){
.like{
    display: flex;
    flex-direction: column;
    gap: 10px;

    
}
.scroll-container{
    height: 50px;
}


.Project h3 {
       font-size: 12px; 
    }
 }
@media  (max-width:380px ){
    .space{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .Projects button{
        width: 100%;
    }
    .Features button{
         width: 100%;
    }
    .scroll-container{
        height: 60%;
    }
}


/* footer */

.footer{
  display: flex;
  flex-direction: row;
padding: 80px 50px;
  justify-content: space-between;
  color: white;

background-color: black;

}
.footer img{
  width: 20px;
}

.footer a{
color: white;
text-decoration: none;
font-weight: 300;
}
.footer dd{
  font-weight: 600;
  font-size: 18px;
}
.footer dl{
  font-weight: 300;
  align-items: center;
  display: flex;
  gap: 10px;
}

  


.e img{
  width: 30px;
}
.yu{
  display: flex;
  justify-content: space-between;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 40px;
padding-left: 40px;


}

@media screen and (max-width: 500px){
    .footer{
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
  .footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
   


/* About */
.About{
padding: 80px 50px;
display: flex;
flex-direction: column;
gap: 20px;
box-shadow: 0 10px   rgba(0, 0, 0, 0.142);
border-radius: 10px;
    }
     .About p{
        color: #3685B5;
    }
    .About-des{
       display: flex;
       justify-content: space-between;
       align-items: center;
      
    }
    .About-des p{
        color: white;
       width: 90%;
      




    }
    

.About-img{
    width: 300px;
    height: 350px;
    border-radius: 10px;
   
    justify-self: center;
    
}
.About-button{
align-self: center;
padding-top: 20px;
display: flex;
gap: 20px;
}
.About-button button{
    width: 130px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.CV{
    background-color: #3685B5;
    color: white;
    cursor: pointer;
}

.About-button button:hover{
    opacity: 0.5;
}


/* Contact */
.contact{
    padding: 80px 50px;
display: flex;
flex-direction: column;
gap: 20px;    
box-shadow: 0 10px   rgba(0, 0, 0, 0.142);
border-radius: 10px;
text-align: center;
    }

    .contact p{
        color: #3685B5;
    }

    
 .form1{
    display: flex;
    gap: 20px;
   justify-self: center;
   
  
    
 }  
 .form1 p{
    color: white;
    text-align: left;
 } 
 .form2{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   justify-self: center;
    
 }
 .form-div p{
    color: white;
    text-align: center;
    display: flex

 }
 
 .contact-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }
 .contact-message p{
    color: white;
 }
 .contact-message a{
    text-decoration: underline;
 }
 .contact-message a:hover{
    opacity: 0.5;
    transition: 1s;
 }
 .form2 button{
    width: 100%;
    height: 35px;
    justify-items: center;
    border: none;
    border-radius: 5px;
    
 }
 .form2 button:hover{
    opacity: 0.5;
 }
 .actual-form{
width: 250px;
height: 40px;
padding-left: 20px;
border-radius: 5px;
border: none;


}

 .actual-form1{
    width: 550px;
    height: 60px;
  padding-left: 20px;
  padding-bottom: 60px;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
  
  
 }
 .bg-color{
    background-color: #3685B5;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    width: 280px;
    justify-self: center;
    flex-wrap: wrap;
   

 }
 .bg-color button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
 }
 .bg-color button:hover{
opacity: 0.5;
 }
 .me-img{
    width: 40px;
    border-radius: 5px;
 }
 .des-ofme{
    display: flex;
    justify-self: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: left;
    
 }
.des-ofme div p{
    color: white;
}

 .rate{
    display: flex;
    justify-self: center;
    gap: 10px;
    padding-bottom: 10px;
 }
 .rate-dl{
    border-right: ridge;
    border-left: ridge;
    padding-left: 20px;
    padding-right: 20px;
 }

 /* Media query */

 @media screen and (max-width: 500px){
    .About-des{
        display: block;
    }
    .form1{
display: block;

    }
    .form2{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }
    .actual-form1{
        width: 250px;
        display: flex;
    }
    .description{
        width: 100%;
        padding-bottom: 20px;
    }
    .form-div p{
        display: flex;
        flex-direction: column;
        text-align: left;
    
    }
    .About-img{
width: 280px;
height: 300px;

    }
    .getin{
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
    }
 }

 @media screen and (max-width: 430px){
   
    .actual-form{
        display: flex;
        flex-direction: column;
        align-self: center;
        
    }
     .form2 button{
        width: 87%;
    }
    .About-img{
       width: 330px; 
       object-fit: cover;
    }
 }
  @media screen and (max-width: 800px){
    .About-des{
        display: flex;
        flex-direction: column-reverse;
    }
     .About-img{
        border-radius: 10px;
        display: flex;
        justify-self: center;
     }
     .About-des p{
        padding-top: 20px;
        width: 100%;
     }
  }
  @media screen and (max-width: 380px){
      .About-img{
width: 280px;
height: 300px;

    }
     .form2 button{
        width: 100%;
    }
  }


  @media screen and (max-width: 325px){
  .About-img{
width: 220px;
height: 300px;

    }
    .About-button button{
        width: 100px;
    }
    .actual-form{
        width: 200px;
        
    }
    .actual-form1{
       width: 200px; 
    }
    .bg-color{
        width: 100%;
    }
  }

 

