/* My Porfolio Website */
*{
    margin: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
    padding: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(2, 18, 63, 0.792);
    font-family: 'Inter', sans-serif;
}
h1, h2,h3{
    font-family: 'Outfit', sans-serif;
}

/* Navigation-bar */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 10px 10px 4px  rgba(0, 0, 0, 0.142);
    align-items: center;  
    font-family: 'Outfit', sans-serif; 
   
}

a{
 color: white;
    text-decoration: none;    
}

a:hover{
    opacity: 0.3;
    text-decoration: overline;
    transition: 2s;
}

/* Left-nav */
.Left-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Left-nav img{
width: 30px;
border-radius: 30px;
height: 30px;
background-color: rgba(2, 18, 63, 0.792);
border: inset grey;
padding: 2px 2px;
object-fit: contain;
}
.Left-nav:hover{
     transform: scale(1.05);
    transition: 1s;
}


/* Middle-nav */
.Middle-nav{
    display: flex;
    gap: 20px;

}

/* ham-burger */
.ham{
display: flex;
flex-direction: column;
gap: 2.5px;
}
.ham-burger{
    display: none;
}
.ham-burger{
    background-color: white;
    border-radius: 3px;
    width: 40px;
    height: 5px;
}

/* Right-nav */
.Right-nav{
    display: flex;
    gap: 10px;
}
.Right-nav button{
    border: none;
    color: rgb(177, 4, 33);
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(2, 18, 63, 0);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
    cursor: pointer;
}
.Right-nav button:hover{
    transform: scale(1.2);
    transition: 1s;
}
.Right-nav img{
    object-fit: contain ;
    width: 30px;
border-radius: 30px;
height: 30px;
background-color: rgba(2, 18, 63, 0);
 box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
 align-items: center;
padding: 8px 8px;
cursor: pointer;
}
.Right-nav img:hover{
     transform: scale(1.2);
    transition: 1s;
}

@media screen and (max-width: 900px) {
.Middle-nav{
    display: none;
}
.Right-nav{
    display: none;
}
.ham-burger{
    display: block;
}
}

/* main */
main{
    padding-top: 100px;
    
    color: white;
    font-family: 'Outfit', sans-serif; 
}

  /* Intoduction-Section  */
  .first{
    box-shadow: 0 10px   rgba(0, 0, 0, 0.142);
    padding-bottom: 40px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
.h{
    font-weight: 200;
    font-size: 20px; 
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro p{
    font-weight: 200;
}
.intro h1{
    font-weight: 600;
    font-size: 45px;
    padding-top: 20px;
}
.intro h2{
    font-weight: 600;
    font-size: 45px;
    padding-bottom: 20px;
}
.intro h3{
    font-weight: 300;
    font-size: 20px;
}
.hint{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.me{
     box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.142);
     width: 268px;
     height: 250px;
     border-radius: 10px;
}
.pic{
  position: relative; 
  bottom: 100px; 
}
@media  (max-width: 900px){
    .intro{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    
}
@media (max-width: 320px){
    .me{
        width: 250px;
        height: 226px;
    }
    .pic{
        width: 250px;
    }
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding-top: 100px;
    align-items: center;
}
    .im{
        background-color:  rgba(2, 18, 63, 0);
         box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.142);
         border-radius: 10px;
         width: 30px;
         height: 30px;
         object-fit: contain;
         padding: 8px 8px;
    }
    .im:hover{
transform: scale(1.2);
transition: 1s;
cursor: pointer;
    }
    .b{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .list dt  {
display: flex;
flex-direction: row;
gap: 20px;
    }
     @media  (max-width: 800px ){
.list{
    display: flex;
    gap: 40px;
}
     }

    @media  (max-width: 600px ){
       .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
       } 
    }

    /* Features */
    .Features{
padding: 80px 50px;
display: flex;
flex-direction: column;
gap: 20px;
    }
    .space{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .Features button{
        width: 300px;
        height: 220px;
        background-color: rgba(2, 18, 63, 0);
        border-radius: 10px;
         box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
         border: none;
         color: white;
    }
    .Features button:hover{
        transform: scale(1.2);
        transition: 1s;
        
    }
    .what{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .what img{
        width: 40px;
    }

    /* Portfolio */
    .Portfolio{
    padding: 80px 50px;
display: flex;
flex-direction: column;
gap: 20px;    
    }
    .Projects{
       display: flex;
        flex-direction: column;
        gap: 20px; 
    }
    .Projects button{
        width: 300px;
        height: 220px;
        background-color: rgba(2, 18, 63, 0);
        border-radius: 10px;
         box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.142);
         border: none;
         color: white;
    }
    .Projects button:hover{
        transform: scale(1.2);
        transition: 1s;
        
    }
